        @font-face {
            font-family: font;
            src: url('font.ttf');
        }
        
        html, body {
            height: 100%;
        }

        a {
            text-decoration: none;
            color: white;
        }
    
        body {
            font-family: font;
            background-color: white;
            text-align: center;
            margin: 0;
            padding: 0;
            font-size: 150%;
        }

        p {
            color: white;
            font-size: 150%;
        }
        
        #home {
            color: #313234;
            font-size: 700%;
            margin-bottom: 25px;
        }

        #music {
            background-color: #313234;
            height: 1450px;
        }

        #contact {
            height: 200px;
            background-color: #313234;
            padding: 25px;
        }

        .platform {
            margin: auto;
            padding: 20px;
        }
.link {
    font-size: 120%;
}